html,
body,
#app {
  height: 100%;
}

body {
  margin: 0;
  font-family: var(--cc-font-sans);
  font-size: var(--cc-font-size-14);
  line-height: 1.5;
  color: var(--cc-color-text);
  background: var(--cc-color-bg);
}

* {
  box-sizing: border-box;
}

code,
pre {
  font-family: var(--cc-font-mono);
}

